Flask==1.1.2
requests==2.24.0
pytz==2020.1
apscheduler==3.6.3
flask_cors==3.0.9
flask_sqlalchemy==2.4.4
fnvhash==0.1.0
Pillow==8.2.0
PyJWT==1.7.1
pypng==0.0.20
pyqrcode==1.2.1
SQLAlchemy==1.3.18
xlsxwriter==1.2.9
